
<style>
  table, td, th{
      border: 1px solid black;
  }
  table{
      margin: auto;
      text-align: center;
      border-collapse: collapse;
      width: 90%;
  }
  footer span{
    font-size: 25px;
    font-style: italic;
  }
  th{
      position: -webkit-sticky;
      position: sticky;
      text-align: center;
      top: 0;
      height: 50px;
      width: 100px;
      background-color: greenyellow;
  }
  h1{
      /* position: -webkit-sticky;
      position: sticky;
      top: 0; */
      text-align: center;
      background-color:darkcyan;
  }
  .nextBtn{
      color: brown;
      font-size: 30px;
  }
  tr:nth-child(even){
      background-color: blanchedalmond;
  }

 tr:nth-child(odd){
      background-color:aquamarine;
  }
  footer{
    height: 100px;
    background-image: linear-gradient(to right, rgb(127, 255, 227), rgb(127, 172, 255));
  }
</style>
<h1>CoViD 19 Cases Updates</h1>
<table>
    <tr>
        <th>Case Number</th>
        <th>Date YYYY/MM/DD</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Nationality<br><input type="text" [(ngModel)]="searchNationality" placeholder="Search Nationality" (input)="filterTable(lst, searchNationality)"/>
            <br><span>{{ nationalityResult }}</span></th>
        <th>Admitted To</th>
        <th>Had Travel History</th>
        <th>Status</th>
        <th>Residency</th>
    </tr>
  <tr *ngFor="let item of lst | slice:startPoint:endPoint" >
      <td>{{item.case_no}}</td>
      <td>{{item.date}}</td>
      <td>{{item.age}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.nationality}}</td>
      <td>{{item.hospital_admitted_to}}</td>
      <td>{{item.travel_history}}</td>
      <td>{{item.status}}</td>
      <td>{{item.resident_of}}</td>
  </tr>
</table>
<pre> <div class="nextBtn"><span (click)="previousPage()">Previous Page</span>      <span (click)="nextPage()">Next Page</span>      <span (click)="viewAll()">View All</span></div></pre>
<footer><pre><span><strong>Deleoper:</strong></span>   <span>Rommel M. Lagurin</span></pre></footer>
<router-outlet></router-outlet>